:root {
	--gap: 5px;
	--background: lightgray;
	--foreground: white;
	--text-color: black;
	--textbox-text-color: white;
	--textbox-background: rgb(15, 15, 15);
	--popup-background: #fafaff;
	--contrast-block-background: rgb(220, 220, 220);
	--accent-gray: #bbb;
	--light-text-color: rgb(100, 100, 100);
	--link-text-color: currentColor;
	--link-visited-text-color: currentColor;
	--blue-link-color: blue;
	--blue-link-visited-color: rgb(156, 34, 232);
	--accent: #bc421e;
	--boss-color: #ffaaaa;
	--needy-color: #9999ff;
	--quirks-color: #aae8ff;
	--block-separator: #eeeeff;
	--stick-under-navbar: calc(1.25em + 4 * var(--gap) + 2px);
	--page-content-width: min(calc(100vw - 4 * var(--gap)), 1150px);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: rgb(50, 50, 50);
		--foreground: rgb(30, 30, 30);
		--text-color: white;
		--textbox-text-color: black;
		--textbox-background: lightgray;
		--popup-background: rgb(50, 50, 50);
		--contrast-block-background: rgb(50, 50, 50);
		--accent-gray: #444;
		--light-text-color: rgb(150, 150, 150);
		--link-text-color: currentColor;
		--link-visited-text-color: rgb(200, 200, 200);
		--blue-link-color: rgb(85, 167, 255);
		--blue-link-visited-color: rgb(174, 93, 240);
		--boss-color: #762121;
		--needy-color: #1e1e84;
		--quirks-color: #216f86;
		--block-separator: #1a1a22;
	}

	.dark-invert {
		filter: invert(90%);
	}
}

body {
	margin: 0;
	font-family: sans-serif;
	color: var(--text-color);
	background: var(--background);
}

a:link {
	color: var(--link-text-color);
}

a:visited {
	color: var(--link-visited-text-color);
}

button {
	background-color: var(--accent);
	color: white;
	padding: 2px 13px;
	border: 1px solid hsl(14, 72%, 33%);
	border-radius: 5px;
	font-size: inherit;

	&:not(.reset) {
		&:hover {
			background-color: hsl(14, 72%, 38%);
		}

		&:active {
			background-color: hsl(14, 72%, 33%);
		}

		&:disabled {
			opacity: 0.5;
		}
	}

	&:where(.reset) {
		all: unset;
		cursor: pointer;
	}
}

form {
	display: contents;
}

.foreground {
	background-color: var(--foreground);
}

.padding {
	padding: var(--gap);
}

.margin {
	margin: var(--gap);
}

.block {
	background-color: var(--foreground);
	padding: var(--gap);
}

.flex {
	display: flex;
	gap: var(--gap);

	&.column {
		flex-direction: column;
	}

	&.content-width {
		align-items: flex-start;
	}

	&.grow > * {
		flex: 1;
	}
}

h1.header {
	background: var(--foreground);
	text-align: center;
	padding: var(--gap);
	font-size: 200%;
	margin: 0;
}

.relative {
	position: relative;
}

.actions {
	position: absolute;
	top: calc(-1 * var(--gap));
	right: calc(-1.5 * var(--gap));
	display: none;
}

*:hover > .actions {
	display: initial;
}

.st-toast.light {
	background: white !important;
}

.popup {
	display: block;
	position: absolute;
	border: 1px solid black;
	padding: 1em;
	background: var(--popup-background);
	color: var(--text-color);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	z-index: 100;
}

.popup-tab {
	font-size: 12pt;
	font-weight: normal;
	display: inline-block;
	background-color: #eef;
	border: 1px solid #eef;
	border-bottom: none;
	border-top-color: #ccf;
	border-right-color: #ccf;
	border-right-width: 2px;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	text-decoration: none;
	color: #024;
	cursor: pointer;
	padding: 0.2em 0.5em 0.115em 28px;
	position: relative;
	margin-left: 0.2em;
	vertical-align: bottom;
	background-size: 20px 20px;
	background-position: 4px center;
	background-repeat: no-repeat;
	align-self: flex-end;
	margin-right: var(--gap);
}

.hidden {
	display: none !important;
}

:is(label, input).help {
	cursor: help;
}

:is(.module-row, .pool:not(.quirks)) .module.quirks,
:is(.pool, .single).quirks,
span.quirks {
	background-color: var(--quirks-color) !important;
}

:is(.module-row, .pool:not(.boss)) .module.boss,
:is(.pool, .single).boss,
span.boss {
	background-color: var(--boss-color) !important;
}

:is(.module-row, .pool:not(.needy)) .module.needy,
:is(.pool, .single).needy,
span.needy {
	background-color: var(--needy-color) !important;
}

.mission-card-grid {
	grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 875px) {
	.mission-card-grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 650px) {
	.mission-card-grid {
		grid-template-columns: 1fr;
	}
}
